doctype html
html(lang="en")
  head
    title Edutainment
    link(rel='stylesheet', href='css/style.css')
  body
    div.header
      div.logo
        a(href='#0') Edutainment
      nav.nav-list
        a(href='#0') about
        a(href='#0') contact
        a(href='#0') FAQ
    section.cover
      article.article-one
        img(src="http://placehold.it/670x298")
        h1 ARTICLE ONE TITLE
      article.article-two
        img(src="http://placehold.it/670x148")
        h1 ARTICLE ONE TITLE
      article.article-three
        img(src="http://placehold.it/335x148")
        h1 ARTICLE ONE TITLE
      article.article-four
        img(src="http://placehold.it/335x148")
        h1 ARTICLE ONE TITLE
