doctype html
html(lang="en")
  head
    title Edutainment
    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
  body
  
    div.header
      div.logo
        a(href='#0') Edutainment
      nav.nav-list
        a(href='#0') about
        a(href='#0') contact
        a(href='#0') FAQ
        
    section.cover.space-btm
      article.article
        div.article-2.article-one
          div.content
            img(src="http://placehold.it/670x500")
            h1 China's futuristic elevated bus allows traffic to pass under it
        div.article-2.article-two
          div.content
            img(src="http://placehold.it/670x242")
            h1 Article one title
        div.article-1.article-three
          div.content
            img(src="http://placehold.it/335x242")
            h1 Article one title
        div.article-1.article-four
          div.content
            img(src="http://placehold.it/335x242")
            h1 Article one title
    section.cover.space-btm
      div.container
        div.heading.space-btm
          h1 NEWS
        div.article
          div.article-1
            div.content
              img(src="http://placehold.it/335x242")
              h1 China's futuristic elevated bus allows traffic to pass under it
          div.article-1
            div.content
              img(src="http://placehold.it/335x242")
              h1 China's futuristic elevated bus allows traffic to pass under it
          div.article-1
            div.content
              img(src="http://placehold.it/335x242")
              h1 China's futuristic elevated bus allows traffic to pass under it
          div.article-1
            div.content
              img(src="http://placehold.it/335x242")
              h1 China's futuristic elevated bus allows traffic to pass under it
